@import url("https://fonts.googleapis.com/css?family=Material+Icons|Oswald|Roboto:400,500");

/* BASIC STYLING - START */
html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif, "proxima-nova", "Helvetica Neue";
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0;
    overflow-x: hidden;
    cursor: default;
    position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #484848;
}

h5 {
    font-size: 1.6rem
}

h6 {
    font-size: 1.2rem
}

p {
    font-size: 1.15rem;
    color: #333
}

i:focus,
a:focus,
a:visited {
    outline: none
}

.hidden {
    display: none
}

/* BASIC STYLING - END */
/* Theme Styling - START */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.section-header {
    position: relative;
    color: #353535;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500
}

.main-section {
    padding: 5rem 0
}

#timeline,
#main-header,
#sponsership {
    background-image: url('../images/back.png');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.effect1 {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.effect8 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* Theme Styling - END */
/* Navbar - START */
#main-nav .button-collapse {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    margin: 0
}

.hamburger-icon {
    padding-top: 1.5rem
}

.hamburger-icon svg {
    width: 80px;
    height: 50px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.hamburger-icon path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #ffffff;
    stroke-dashoffset: 0px
}

.hamburger-icon path.top,
.hamburger-icon path.bottom {
    stroke-dasharray: 240px 950px
}

.hamburger-icon path.middle {
    stroke-dasharray: 240px 240px
}

.hamburger-icon.open path.top,
.hamburger-icon.open path.bottom {
    stroke-dashoffset: -650px
}

.hamburger-icon.open path.middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px
}

#main-nav {
    box-shadow: none;
    padding: 0 1rem;
    background: none;
    position: fixed;
    top: 0;
    z-index: 104;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

#main-nav #nav-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1
}

#main-nav .nav-wrapper {
    max-width: 1190px;
    margin: 0 auto
}

#main-nav .brand-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem
}

#main-nav .brand-logo .logo {
    max-width: 100%;
    /* padding-right: 1rem; */
    max-width: 120px
}

#main-nav li {
    position: relative
}

#main-nav a {
    color: inherit;
    font-size: 1.1rem;
    font-weight: 500
}

#main-nav a:not(.no-bg).active {
    background-color: rgba(214, 214, 214, 0.3)
}

#main-nav .side-nav {
    background-color: #fff;
    z-index: 1000;
    max-width: 80vw !important;
    max-height: 100vh;
}

#main-nav .side-nav a {
    color: #333;
    border-bottom: 1px solid #ddd;
    /* margin: 0 1rem */
}

#main-nav .side-nav .home {
    margin-top: 2rem;
    height: auto;
    text-align: center
}

#main-nav .side-nav .home a {
    height: auto;
    text-transform: uppercase;
    font-size: 1.5rem
}

#sidenav-overlay {
    z-index: 101
}

.drag-target {
    z-index: 101
}

/* Navbar - END */
/* Header Section - START */
#main-header {
    position: relative;
    height: 100vh;
    max-height: 900px;
    min-height: 700px;
    color: #212121;
    padding-top: 64px;
    overflow: hidden;
}

#main-header .header-section {
    position: relative;
    height: 100%;
    color: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#main-header .text-anim-header {
    position: relative;
    width: 25%;
    z-index: 101;
    text-transform: uppercase;
}

#main-header .header-text {
    text-align: center;
    position: relative;
    padding-right: 4rem;
    width: 60%;
    margin-right: 10%;
    z-index: 101;
}

#main-header .title-link {
    letter-spacing: 1rem;
    font-size: 8vw;
    margin: 0;
    z-index: 101
}

#main-header .header-text h4 {
    margin: 0
}

.regbtn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 3rem;
    word-spacing: 3px;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
}

.btn:hover,
.regbtn:hover {
    background: #aa5dab;
}

.title-link {
    position: relative;
    overflow: hidden;
    font-weight: 500;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.5rem
}

.title-link img {
    max-width: 100%;
}

.organizer {
    display: block;
}

.organizer img {
    margin: 1em auto;
    max-width: 40%;
    display: inline-block;
}

/* Header Section - END */
/* About Section - START */
#about-us .icon i {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    color: #ffffff
}

#about-us h4,
#about-us h5{
    color:#fff;
}

#about-us p {
    color: #888;
}

.desc {
    max-width: 650px;
    margin: 0 auto;
    text-align: center
}

/* About Section - END */
/* Timeline Section - START */
.timeline {
    position: relative;
    overflow: auto;
    color: #fff;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background: #212121;
    left: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.timeline p {
    color: inherit;
    padding: 0 .5em;
}

.timeline ul {
    list-style: none;
    padding: 0 0 0 1em;
    z-index: 1;
    margin-bottom: 75px;
}

.timeline li {
    background: #212121;
    margin: 3em 0;
    position: relative;
}

.timeline li:nth-child(even) {
    background: #aa5dab;
}

.timeline li:nth-child(odd) {
    background: #f1296a;
}

.timeline li:before {
    visibility: hidden;
    content: '';
    width: 0;
    height: 0;
    border-top: 1em solid #212121;
    border-left: 1em solid transparent;
    position: absolute;
    left: -1em;
    top: 0;
}

.timeline h5 {
    margin-top: 0;
    color: inherit;
    background: #212121;
    padding: 0.5em;
}

.timeline time {
    background: #fff;
    width: 100%;
    display: block;
    color: #212121;
    padding: .5em;
    font-size: 1.2em;
}

#timeline li time a {
    float: right;
}

.timeline .timeline-end,
.timeline .timeline-node,
.timeline .timeline-start {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: #212121;
    left: 50%;
    transform: translate(-50%);
    clear: both;
}

.timeline .timeline-end {
    bottom: 0;
}

.timeline .timeline-start {
    top: 0;
}

.timeline .past-event {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    pointer-events: none;
}

@media screen and (min-width: 933px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .timeline li:before,
    .timeline .end {
        visibility: visible;
    }

    .timeline ul {
        padding-left: 0;
        margin: 75px auto;
    }

    .timeline li {
        width: 42%;
        margin: 0 0 1em;
    }

    .timeline li:nth-child(even) {
        float: right;
        margin-top: 2em;
    }

    .timeline li:nth-child(odd) {
        float: left;
    }

    .timeline li:nth-child(odd):before {
        border-top: 1em solid inherit;
        border-right: 1em solid transparent;
        right: -1em;
        left: auto;
    }

    .timeline li:nth-of-type(2n+1) {
        clear: both;
    }
}

/* Timeline Section - END */
/* Awards & Registration Section - START */
#awards {
    padding-bottom: 0;
}

.awards-img {
    filter: contrast(150%);
    -webkit-filter: contrast(150%);
    width: 100%;
}

.plaze-prize {
    font-size: 2em;
}

#registration {
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    color: #ffffff;
    padding-top: 0;
}

#registration h3,
#registration h4,
#registration h5,
#registration i,
#registration p {
    color: inherit
}

#registration .regbtn {
    width: 100%;
    padding: 1em;
    transition: .5s;
}

#registration .download-link {
    display: inline-block;
    padding: 1em;
    color: #221121;
}

#registration #numOfTeams {
    font-size: 2em;
    vertical-align: middle;
    margin: .2em;
}

/* Awards & Registration Section - END */
/* Parteners Section - START */
.sponsers h5 {
    text-transform: uppercase;
    min-height: 2em;
}

.sponser-logo {
    max-width: 100%;
    border-radius: 1em;
}

/* Parteners Section - END */
/* Footer Section - START */
#footer {
    position: relative;
    background: #000;
    /* background: url("../images/footer.png") repeat; */
    padding-bottom: 1rem
}

#footer .footer-main {
    position: relative;
    left: 0;
    overflow: hidden
}

#footer .main-section {
    width: 90%;
    background: #ffffff;
    margin: 0 auto;
    max-width: 1280px
}

#footer .contact-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#footer form {
    width: 100%;
    padding: 0 2rem
}

#footer form input {
    padding-top: 1rem
}

#footer .regbtn {
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 2rem;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: none;
    outline: none;
}

#footer .prefix {
    padding: 1rem 1rem 0 0
}

#footer .input-field .prefix.active {
    color: #aa5dab;
}

#footer .footer-content .container {
    max-width: 85%;
}

#footer .footer-content .title-link {
    display: inline-block;
    margin-bottom: 0
}

#footer .footer-content h5 {
    color: #c6c6c6
}

#footer .footer-content p {
    color: #9b9b9b;
}

#footer .footer-content p i {
    font-size: 1.2em;
    margin: 0 5px;
}

#footer .footer-content p span {
    margin-left: 2em;
    display: inline-block;
    margin-top: -2em;
}

#footer .footer-content .title {
    width: 150px;
}

#footer .footer-content .logo {
    width: 80%
}

#footer .footer-content a p:hover {
    color: #cdcdcd;
}

#footer .footer-content .chip {
    background-color: #a7a7a7;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out
}

#footer .footer-content .chip:hover {
    background-color: #e4e4e4
}

#footer .social-plugin {
    padding: 1em 0.5em;
}

#footer .fb_iframe_widget {
    display: block;
    padding: 1em 0;
}

#footer .social-media a {
    margin: 1em .5em;
    filter: grayscale(1);
    transition: .5s linear;
}

#footer .social-media a:hover {
    filter: none;
    color: #fff;
}

#copy-rights .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #e2e2e2;
    padding-bottom: 1rem
}

#copy-rights {
    background:#000;
    /* background: url("../images/footer.png") repeat */
}

#copy-rights p {
    color: inherit;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    text-align: center;
    margin-bottom: 0;
    max-width: 100%;
}

/* Footer Section - END */
/* Responsive Styling - START */
@media screen and (min-width: 1400px) {
    #main-header .title-link {
        font-size: 6rem
    }
}

@media screen and (max-width: 992px) {
    html {
        font-size: 13px
    }

    nav .brand-logo {
        left: 7rem
    }

    .owl-nav {
        display: none
    }

    #main-nav .button-collapse {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    #main-header {
        max-height: 1500px
    }

    #main-header,
    #timeline,
    #sponsership {
        background: #fff !important;
    }

    #main-header .title-link {
        font-size: 10vw;
    }

    #main-header {
        height: auto;
        min-height: inherit
    }

    #main-header .header-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    #main-header iframe {
        width: 400px;
        height: 450px
    }

    #main-header .header-text {
        width: 80%;
        margin: 0 auto;
        padding: 5rem 0
    }

    #main-header .text-anim-header {
        width: 100%;
        max-width: 80%;
    }

    #footer .contact-container {
        display: block
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 80%
    }

    #main-nav.nav-up {
        top: -52px
    }

    .parallax img {
        width: 30%
    }

    #main-header .title-link {
        font-size: 4em !important;
        letter-spacing: 0 !important;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 75%
    }

    .organizer img {
        display: none;
    }

    #main-header .header-text {
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 300px) {
    html {
        font-size: 50%
    }
}

/* Responsive Styling - END */
/* Components Styling - START */
/* PreLoader - START */
.pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 10000;
    overflow: hidden;
}

.loader-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.spin-cones {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50px;
}

.spin-cones:before {
    content: "";
    position: absolute;
    top: -38px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 0 50px 0px 0;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-animation: anim-spin 1.5s linear infinite;
    animation: anim-spin 1.5s linear infinite;
}

.spin-cones:after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-radius: 0 0px 0px 50px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-animation: anim-spin 1.5s linear infinite;
    animation: anim-spin 1.5s linear infinite;
}

@-webkit-keyframes anim-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes anim-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* PreLoader - END */
/* ParticleJS - START */
#particles-js {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 100;
}

/* ParticleJS - END */
/* FlipClock - START */
.count-clock {
    margin: 30px auto;
    width: 355px;
}

.count-clock .countdown-container {
    height: 130px;
}

.count-clock .time {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-align: center;
    position: relative;
    height: 95px;
    width: 65px;
    -webkit-perspective: 479px;
    -moz-perspective: 479px;
    -ms-perspective: 479px;
    -o-perspective: 479px;
    perspective: 479px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.count-clock .count {
    background: #202020;
    color: #f8f8f8;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2.8em;
    line-height: 2.4em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    -ms-transform-style: flat;
    -o-transform-style: flat;
    transform-style: flat;
}

.count-clock .count.top {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px 5px 0 0;
    height: 50%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.count-clock .count.bottom {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), transparent);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 0 5px 5px;
    line-height: 0;
    height: 50%;
    top: 50%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.count-clock .label {
    font-size: normal;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 95px;
    width: 100%;
}

.count-clock .count.curr.top {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 3;
}

.count-clock .count.next.bottom {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    z-index: 2;
}

.count-clock .flip .count.curr.top {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.count-clock .flip .count.next.bottom {
    -webkit-transition: all 250ms ease-in-out 250ms;
    -moz-transition: all 250ms ease-in-out 250ms;
    -ms-transition: all 250ms ease-in-out 250ms;
    -o-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

@media screen and (max-width: 768px) {
    .count-clock {
        width: 100%;
    }

    .count-clock .countdown-container {
        height: 100px;
    }

    .count-clock .time {
        height: 70px;
        width: 48px;
    }

    .count-clock .count {
        /* font-size: 1.5em; */
        line-height: 70px;
    }

    .count-clock .label {
        /* font-size: 0.8em; */
        top: 72px;
    }
}

/* FlipClock - END */
/* Facebook Customer Chat - START */
.fb_customer_chat_bubble_pop_in {
    z-index: 9000 !important;
}

/* Facebook Customer Chat - END */
/* Components Styling - END */