<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Facebook Meta -->
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="RealHack 2018" />
    <meta property="og:description" content="Inter University Hackathon organized by Software Engineering Students' Association and IEEE Student Branch of University of Kelaniya with Pearson Lanka PVT LTD." />
    <meta property="og:image" content="https://nuwan94.github.io/RealHackv2/images/logo.png" />

    <title>RealHack 2018</title>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <!-- <meta http-equiv="Expires" content="1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/formatting.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/theme.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/animated.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/morphext.css">

    <link rel="stylesheet" type="text/css" media="screen" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" />
</head>

<body>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
        return t;
      }(document, "script", "twitter-wjs"));
    </script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution="setup_tool" page_id="235087650506664" theme-color="#212121">
    </div>

    <!-- Start PreLoader Section-->
    <div class="pre-loader">
        <div class="loader-container">
            <div class="spin-cones"></div>
        </div>
    </div>
    <!-- End PreLoader Section-->

    <!-- Start Nav Section -->
    <nav id="main-nav" class="nav-down nav-fixed">
        <div id="nav-color" class="theme-purple"></div>
        <div class="nav-wrapper">

            <a class="brand-logo no-bg" data-scroll-nav="1" href="#">
                <img class="responsive-img logo" src="images/logo-top.png" alt="">
            </a>

            <!-- Main Menu Hamburger Icon for Mobile And Screen Width less than 993px -->
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <div class="hamburger-icon" id="hamburger-menu">
                    <svg viewBox="0 0 800 600">
                        <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                            class="top"></path>
                        <path d="M300,320 L540,320" class="middle"></path>
                        <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                            class="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                    </svg>
                </div>
            </a>

            <!-- Main Menu Content -->
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="1" href="#">Home</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="2" href="#">About</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="3" href="#">Timeline</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="4" href="#">Registration</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="5" href="#">Partners</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="6" href="#">Contact</a>
                </li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li>
                    <div class="user-view">
                        <div class="background">
                        </div>
                        <img class='sponser-logo' src="images/logo.png">
                    </div>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="1" href="#">Home</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="2" href="#">About</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="3" href="#">Timeline</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="4" href="#">Registration</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="5" href="#">Partners</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" data-scroll-nav="6" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Nav Section-->

    <!-- Start Header Section-->
    <header id="main-header" class="" data-scroll-index="1">
        <div id="particles-js"></div>
        <div class="header-section container">
            <div class="header-text">
                <div>
                    <div class="title" data-aos="">
                        <h1 class="title-link"><img src="images/logo.png"></h1>
                    </div>
                    <h4>October 15-16</h4>
                    <h5>Dharmaloka Hall, University of Kelaniya</h5>
                    <div id="count-clock" class="count-clock"></div>
                    <p class="desc">Organized by IEEE Student Branch and Software Engineering Students'
                        Association of
                        University of Kelaniya.</p>
                        <p class="desc organizer">
                            <img src="images/ieeeuok-logo.png"/>
                            <img src="images/sesauok-logo.png"/>
                        </p>
                </div>
            </div>
            <div class="text-anim-header center-align m-b-3">
                <h3 class="left-align">Are you a <span id="js-rotating" class="text-red">Developer?,Designer?,Marketer?,Innovator?</span>
                    <br>We are looking for you.</h3><br>
                    <a data-scroll-nav="4" class="regbtn theme-red trans-05">Register
                            Now</a>
            </div>

        </div>
    </header>
    <!-- End Header Section-->

    <!-- Start About Section-->
    <section id="about-us" class="main-section center-align theme-grey black-text" data-scroll-index="2">
        <div class="container">
            <h4 class="section-header m-t-3 p-b-2">About RealHack</h4>
            <p class="p-b-3">Software Enigneering students of University of Kelaniya takes pride in presenting
                'RealHack' their debut Inter-University Hackathon. RealHack is the ideal paltform for budding Software
                Engineers to present and showcae their novel ideas. The key objective is to encourage the participants
                to develop a Rest API. RealHack is open for all University students from the island and the applying
                teams will have to face a prehack on hackerrank.com. The 10 best shortlisted teams will compete
                together on the Hackathon day which is a 24 hours event.</p>
            <div class="row">
                <div class="col s12 l4">
                    <div class="icon">
                        <i class="fa fa-code fa-3x theme-black"></i>
                    </div>
                    <h5 class="p-t-1">Programming</h5>
                    <p class="p-b-2">To the passionate programmers who acquires skills through practice, REALHACK is
                        the place to be.</p>
                </div>
                <div class="col s12 l4">
                    <div class="icon">
                        <i class="fa fa-palette fa-3x theme-black"></i>
                    </div>
                    <h5 class="p-t-1">Designing</h5>
                    <p class="p-b-2">REALHACK is for the designers that can visualise thinking.</p>
                </div>
                <div class="col s12 l4">
                    <div class="icon">
                        <i class="fa fa-coins fa-3x theme-black"></i>
                    </div>
                    <h5 class="p-t-1">Marketing</h5>
                    <p class="p-b-2">Got it what it takes to make the buyer the hero? REALHACK is for you!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section-->

    <!-- Start Timeline Section-->
    <section id="timeline" class="main-section center-align black-text" data-scroll-index="3">
        <div class="container">
            <h4 class="section-header m-t-3 p-b-2">TimeLine</h4>
            <div class="row m-t-3">
                <div class="col s12 m12 l12">
                    <div class="timeline">
                        <div class="timeline-start"></div>
                        <ul>
                            <li class="effect1" data-aos='fade-left' data-aos-delay="100">
                                <h5>Registration Start</h5>
                                <p>Teams registration start on the website.</p>
                                <time>11<sup>th</sup> September 2018 <a class="tooltipped" data-tooltip="Add to Google Calendar"
                                        target="_blank" href="https://calendar.google.com/calendar/r/eventedit?text=[RealHack]+Registration+Start&details=Register+Now+:+link&sf=true"><i
                                            class=" material-icons">add_circle_outline</i></a></time>
                            </li>
                            <li class="effect1" data-aos='fade-right' data-aos-delay="100">
                                <h5>Registration Close</h5>
                                <p>Registration close and teams will be notified about the Prehack</p>
                                <time>31<sup>st</sup> September 2018 <a class="tooltipped" data-tooltip="Add to Google Calendar"
                                        target="_blank" href="https://calendar.google.com/calendar/r/eventedit?text=[RealHack]+Registration+End&details=Register+Now+:+link&sf=true"><i
                                            class=" material-icons">add_circle_outline</i></a></time>
                            </li>
                            <li class="effect1" data-aos='fade-left' data-aos-delay="100">
                                <h5>PreHack</h5>
                                <p>Hackerrank Competition for selecting the best 10 teams.</p>
                                <time>5<sup>th</sup> of October 2018 <a class="tooltipped" data-tooltip="Add to Google Calendar"
                                        target="_blank" href="https://calendar.google.com/calendar/r/eventedit?text=[RealHack]+PreHack&details=Find+Details+:+link&sf=true"><i
                                            class=" material-icons">add_circle_outline</i></a></time>
                            </li>
                            <li class="effect1" data-aos='fade-right' data-aos-delay="100">
                                <h5>RealHack</h5>
                                <p>Winners from PreHack have to compete at RealHack.</p>
                                <time>15<sup>th</sup> & 16<sup>th</sup> October 2018 <a class="tooltipped" data-tooltip="Add to Google Calendar"
                                        target="_blank" href="https://calendar.google.com/calendar/r/eventedit?text=RealHack+Competition&details=Live+Coverage+:+link&sf=true"><i
                                            class=" material-icons">add_circle_outline</i></a></time>
                            </li>
                        </ul>
                        <div class="timeline-end"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End Timeline Section-->

    <!-- Start Registration Section-->
    <section id="registration" data-scroll-index="4" class="main-section center-align theme-grey black-text">
        <div class="container">
            <h4 class="section-header m-t-3 p-b-2">Registration</h4>
            <div class="row p-t-2">
                <div class="col s12 m4 l4" data-aos='fade-up' data-aos-delay="100">
                    <div class="place-label theme-purple-light">1<sup>st</sup> Place </div>
                    <div id="Place1" class="plaze-prize l-h-3 effect1"><span></span></div>
                </div>
                <div class="col s12 m4 l4" data-aos='fade-up' data-aos-delay="100">
                    <div class="place-label theme-pink">2<sup>nd</sup> Place </div>
                    <div id="Place2" class="plaze-prize l-h-3 effect1"><span></span></div>
                </div>
                <div class=" col s12 m4 l4" data-aos='fade-up' data-aos-delay="100">
                    <div class="place-label theme-cream">3<sup>rd</sup> Place </div>
                    <div id="Place3" class="plaze-prize l-h-3 effect1"><span></span></div>
                </div>
                <!-- <div class=" col s12"
                                m6 l3">
                                <a class="download-link" href="#"><em class="fa fa-3x fa-file-pdf text-red"></em>
                                    <h6>Guideline</h6>
                                </a>
                                <a class="download-link" href="#"><em class="fa fa-3x fa-file-pdf text-purple"></em>
                                    <h6>Sources</h6>
                                </a>
                            </div> -->
            </div>
            <div class="row">
                <h5 class="p-t-2 p-b-1">Hurry Up! <span class="counter text-red" id="numOfTeams">00</span> Teams already registered.</h5>
                <a class="regbtn waves-effect waves-light theme-red trans-05 modal-trigger" data-aos='fade-down' data-aos-delay="300" href="#registration-modal">Register
                    Now</a>
            </div>
        </div>
    </section>
    <!-- End Registration Section-->

    <!-- Start Sponsership Section-->
    <section id="sponsership" data-scroll-index="5" class="main-section center-align ">
        <div class="container">
            <h4 class="section-header m-t-3">Partners</h4>
            <p class="desc">RealHack is proud to have Pearson PVT LTD as its main sponsor and Redbull Sri Lanka as
                Co-Sponser. RealHack is partnered with some leading names in the country to drive the event towards success.</p>
            <div class="sponsers m-t-3">
                <div class="row effect8" data-aos='fade-up' data-aos-delay="100">
                    <h5 class="m-t-1">Official Event Partner</h5>
                    <div class="col s12 m12 l12">
                        <img class="sponser-logo m-tb-2" src="images/sp-p-logo.png" alt="">
                    </div>
                </div>
                <div class="row effect8" data-aos='fade-up' data-aos-delay="100">
                    <h5 class="m-t-1">Supporting Partners</h5>
                    <div class="col s12 m6 l4">
                        <img class="sponser-logo m-tb-1" src="images/sp-r-logo.jpg" alt="">
                    </div>
                </div>


                <div class="row effect8" data-aos='fade-up' data-aos-delay="100">
                    <h5 class="m-t-1">Media Partners</h5>
                    <div class="col s12 m4 l4">
                        <img class="sponser-logo m-tb-1" src="images/sp-h-logo.png" alt="">
                    </div>
                </div>

            </div>
    </section>
    <!-- End Sponsership Section-->

    <!-- Start Footer Section-->
    <section id="footer" data-scroll-index="6" class="main-section center-align">
        <div class="footer-main">
            <div class="main-section">
                <div class="container">
                    <h4 class="section-header p-b-2">Get in Touch</h4>
                    <div class="contact-container">
                        <!-- Contact Form -->
                        <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">
                            <div class="row">
                                <!-- Name Field -->
                                <div class="input-field col s12" data-aos="fade-up">
                                    <i class="fa fa-user prefix" aria-hidden="true"></i>
                                    <input id="contact-name" type="text" class="validate" name="first_name" required>
                                    <label for="contact-name">Name *</label>
                                </div>
                                <!-- Email Field -->
                                <div class="input-field col s12 m-t-1" data-aos="fade-up" data-aos-delay="100">
                                    <i class="fa fa-paper-plane prefix" aria-hidden="true"></i>
                                    <input id="contact-email" type="email" class="validate" name="email" required>
                                    <label data-error="Invalid Email" for="contact-email">Email *</label>
                                </div>
                                <!-- Message Field -->
                                <div class="input-field col s12 m-t-1" data-aos="fade-up" data-aos-delay="100">
                                    <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                                    <textarea id="contact-message" class="materialize-textarea validate" minlength="20"
                                        name="message" required></textarea>
                                    <label for="contact-message" data-error="Minimum Length is 20 Characters">Message *</label>
                                </div>
                                <!-- Form Alert Message -->
                                <div class="col s12 alert-message" id="contact-alert-message"></div>
                                <!-- Submit Button -->
                                <div class="col s12" data-aos="fade-up" data-aos-delay="100">
                                    <button id="contact-submit" class="theme-purple waves-effect waves-light" type="submit">Send</button>
                                </div>
                                <!-- ! Anti-spam field ! Invisible for users, it will trick most bots to fill it and prevent the email from being sent to you -->
                                <div class="input-field col s12 hidden">
                                    <input type="text" id="contact-check-spam" placeholder="Leave field empty" name="check-spam">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Area -->
        <div class="footer-content p-t-3 left-align">
            <div class="container">
                <div class="row">
                    <div class="about col s12 m6 l4 m-b-2">
                        <h5 class="p-b-1">About Us</h5>
                        <img class="responsive-img logo" src="./images/logo-top.png" alt="logo image">
                        <br>
                        <p>Inter-University Hackathon Organized by Software Engineering Students' Association and IEEE
                            Student Branch of University of Kelaniya. 2018 &copy;</p>

                    </div>

                    <div class="news col s12 m6 l4 m-b-2">
                        <h5 class="p-b-1">Contact</h5>
                        <p class="p-b-1">
                            <i class="fa fa-map-marker"></i>
                            <span>SESA, University of Kelaniya, Sri Lanka.</span><br>
                            <i class="fa fa-phone"></i>
                            <a href="tel:+94770429201"> +94 77 042 9201 (Tharuka Vishwajith)</a><br>
                            <i class="fa fa-phone"></i>
                            <a href="tel:+94716255642"> +94 71 625 5642 (Isuru Ranweera)</a><br>
                            <i class="fa fa-paper-plane"></i>
                            <a href="mailto:sesa.uok@gmail.com">realhack@gmail.com</a>
                        </p>
                    </div>

                    <div class="tags col s12 m6 l4 m-b-2">
                        <h5 class="p-b-1">Socail Media</h5>
                        <div class="social-media">
                            <a href="http://fb.com/realhacklk" target="_blank"><i class="fab fa-3x fa-facebook"></i></a>
                            <a href="http://fb.com/realhacklk" target="_blank"><i class="fab fa-3x fa-twitter-square"></i></a>
                            <a href="http://fb.com/realhacklk" target="_blank"><i class="fab fa-3x fa-instagram"></i></a>
                        </div>
                        <div class="social-plugin">
                            <div class="fb-like" data-href="https://facebook.com/realhacklk" data-layout="button_count"
                                data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                            <a class="twitter-share-button"
                                href="https://twitter.com/intent/tweet?text=RealHack by UOK - Registration Start Soon #realhack #uok">
                              Tweet</a>
                              <a class="twitter-follow-button" href="https://twitter.com/realhacklk" data-show-count="false">Follow @realhacklk</a>
                        </div>

                        <!-- <div class="fb-page" data-href="https://www.facebook.com/realhacklk/" data-small-header="true"
                            data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/realhacklk/" class="fb-xfbml-parse-ignore"><a
                                    href="https://www.facebook.com/realhacklk/">RealHack</a></blockquote>
                        </div> -->
                        <!-- <a class="chip waves-effect">#realhack</a>
                        <a class="chip waves-effect">#uok</a>
                        <a class="chip waves-effect">#sesa</a>
                        <a class="chip waves-effect">#ieeesbuok</a>
                        <a class="chip waves-effect">#uokse</a>
                        <a class="chip waves-effect">#realhacklk</a>
                        <a class="chip waves-effect">#sesauok</a> -->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End Footer Section-->

    <!-- Start Copy Rights Section-->
    <div id="copy-rights" class="col s12">
        <div class="container">
            <p>Copyright &copy; 2018 | Designed by by <a target="_blank">Design Team - SESA</a></a>
            </p>
        </div>
    </div>
    <!-- End Copy Rights Section-->

    <!-- Models -->
    <!-- Modal Structure -->
    <div id="registration-modal" class="modal">
        <div class="modal-content">
            <!-- <h4>Registration</h4> -->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSetw5WTvfrBA8ry74ADuaaUwedcgg47zMexYULc3vkpyZb2ig/viewform?embedded=true"
                width="640" height="1055" frameborder="0" marginheight="0" marginwidth="0" style="width:100%;min-height:100%;">Loading...</iframe>
            <!-- <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="teamname" type="email" required class="validate">
                            <label for="teamname">Team Name *</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="univ" type="email" required class="validate">
                            <label for="univ">University *</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="leadname" type="text" required class="validate">
                            <label for="leadname">Leader Name *</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="leadnic" type="text" required class="validate">
                            <label for="leadnic">NIC *</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="m1name" type="text" required class="validate">
                            <label for="m1name">Member #1 Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="m1nic" type="text" required class="validate">
                            <label for="m1nic">Member #1 NIC</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="m4name" type="text" required class="validate">
                            <label for="m4name">Member #2 Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="m2nic" type="text" required class="validate">
                            <label for="m2nic">Member #2 NIC</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="m4name" type="text" required class="validate">
                            <label for="m4name">Member #3 Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="m3nic" type="text" required class="validate">
                            <label for="m3nic">Member #3 NIC</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="m4name" type="text" class="validate">
                            <label for="m4name">Member #4 Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="m4nic" type="text" class="validate">
                            <label for="m4nic">Member #4 NIC</label>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        </div>

        <!-- Clock Template -->
        <script type="text/template" id="clock-template">
            <div class="time <%= label %>">
          <span class="count curr top"><%= curr %></span>
          <span class="count next top"><%= next %></span>
          <span class="count next bottom"><%= next %></span>
          <span class="count curr bottom"><%= curr %></span>
          <span class="label"><%= label %></span>
        </div>
    </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="js/morphext.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/stat.js"></script>
</body>

</html>